<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net, Version=1.2.10.0, Culture=neutral, PublicKeyToken=1b44e1d426115821" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <!-- Log4net Logging Setup -->
  <log4net>
    <appender name="FileAppender" type="log4net.Appender.RollingFileAppender,log4net">
      <file value="Log/MercadoPagoScheduledTasksLog.txt" />
      <!-- the location where the log file would be created -->
      <appendToFile value="true" />
      <rollingStyle value="Composite" />
      <maxSizeRollBackups value="100" />
      <maximumFileSize value="5MB" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %level %logger - %message%newline" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="INFO" />
        <levelMax value="FATAL" />
      </filter>
    </appender>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="FileAppender" />
    </root>
  </log4net>
  <connectionStrings>
    <add name="appConn" connectionString="server=200.80.42.30;User ID=marmeli1_sa;password=7Ry1ogyc;Persist Security Info=False;database=marmeli1_Trylogyc" providerName="System.Data.SqlClient"/> 
    <!--add name="appConn" connectionString="Data Source=200.80.42.30;Initial Catalog=marmeli1_Trylogyc;Integrated Security=SSPI;application name=WSTryLogyc;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" /-->     
  </connectionStrings>
  <appSettings>
    <!--TOKEN Mercado Pago SANDBOX (Comentar para producción) -->
    <!--add key="tokenMpagoSandBox" value="TEST-803559796931547-061512-1c5326e2a6805c225624b7bc9dc17ef8-229476782" /-->
    <add key="tokenMpagoSandBox" value="TEST-1323683807057475-092213-06933a49cbef3b2dd091f82dd364292e-198710882" />
    <!--TOKEN Mercado Pago PRODUCCION -->
    <!--add key="tokenMpagoProduccion" value="TEST-803559796931547-061512-1c5326e2a6805c225624b7bc9dc17ef8-229476782" /-->
    <add key="tokenMpagoProduccion" value="APP_USR-1323683807057475-092213-acd4d096aa068041e508508169de15a4-198710882" />
    
    <!-- Booleano que establece si se corre en entorno de prueba (sandbox) o produccion -->
    <add key="isSandbox" value="false" />
    <!-- Establece el endpoint de la API de mercado pago -->
    <add key="mpApiEndpoint" value="https://api.mercadopago.com/" />
    <!-- Cantidad de horas hacia atrás que considerará la tarea para reprocesar transacciones -->
    <add key="cantHorasTarea" value="1" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>